.footer {
    /* text-align: center; */
  }
  
  .app-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    min-height: 80px;
    box-shadow: "7px 3px 5px 2px rgba(255, 0, 0, 0.3)";
  }
  
  .footer-button {
    flex: 1;
    position: relative;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;

  }
  
  .footer-button:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;  
    bottom: 10%;
    width: 1px;
    background-color: grey;
  }


.youtube-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 9999;
  cursor: pointer; 
}

/* Adjust the size of the player container */
.youtube-player iframe {
  height:60vh;; 
  max-width: 800px; 
  max-height: 80%; 
  border: none; 
}


  